<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <style>
        *{
    margin: 0;
    padding: 0;
}
body{
   
    display: grid;
    place-items: center;
    height: 100vh;
    
}
div{
    display: grid;
    place-items: center;

}
h1{
    font-size: 5rem;
    margin-bottom: 30px;
 
}
h2{
    font-size: 4rem;
}
       </style>

</head>
<body>
    <h1 id="h1">Home</h1>

    <h2>Hello {{name}}</h2>

    
</body>
</html>